/* -----------Reset links & setting----------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.li-class {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* =========================Styles for all section======================= */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .section {
    padding-top: 120px;
    padding-bottom: 120px;
    }
}

/* ============================HEADER START============================== */
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
    }
    
        
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
    
.header-field {
    background: #FCFCFC;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
    .header-field {
        padding: 17.5px 0;
    }
    
}

.ad-cont {
    display: flex;
    justify-content: space-between;
}

.nav-cont {
    display: flex;
    align-items: center;
} 

/* logo----------- */

.logo-field {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 120px;
}

@media screen and (max-width: 1157px) {
    .logo-field {
            margin-right: 76px;
        }

}


.logo-span-nav {
    color: #2e2f42;
}

/* navigatoin----------- */

.nav-ul {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .nav-ul {
    display: none;
   }

}

.nav-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-text:hover,
.nav-text:focus {
    color: #404bbf
}

.nav-ref {
   color: #2e2f42;
   padding: 24px 0;
   position: relative; 
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 

.nav-ref:hover,
.nav-ref:focus { 
    color: #404bbf;
   
}

.nav-ref-first { color: #404bbf;
}

.nav-ref-line::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: -1px;
   height: 4px;
   background-color: #404bbf;
   border-radius: 2px;
   width: 100%;

}

/* address----------- */
.address-text-ul {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

@media screen and (max-width: 1157px) {
    .address-text-ul {
        flex-direction: column;
        gap: 12px;
        padding: 16px 0;
    }
}
.address-text {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (max-width: 767px) {
    .address-text {
        display: none;

    }
}
@media screen and (min-width: 1158px) {
    .address-text {
        font-size: 16px;
        line-height: 1.5;
        }

}

.address-li {
    display: flex;
    gap: 40px;
}

.add-ref {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-ref:hover, 
.add-ref:focus {
    color: #404bbf;
}

/* button bugrer----------- */
.mobile-menu-open-btn {
    background-color: transparent;
    border:none;
    padding: 0;
    fill: #2F2F37;
    line-height: 0;
}

@media screen and (min-width: 768px) {
    .mobile-menu-open-btn {
        display: none;
    }
}
/* ============================HEADER END============================== */
/* ============================HERO START=================================== */
.section-one-text {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-mob.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx) {
         .section-one-text {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-mob@2x.jpg);
               
         }
        }
@media screen and (min-width: 768px) {
    .section-one-text {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tab.jpg);
    }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx) {
            .section-one-text {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tab@2x.jpg);
    
            }
        }
}
@media screen and (min-width: 1158px) {
    .section-one-text {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desk.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution:192dpi),
    screen and (min-resolution:2dppx) {
        .section-one-text {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desk@2x.jpg);

        }
    }
}



@media screen and (min-width: 768px) {
    .section-one-text {
        padding: 112px 0;
    }
}

@media screen and (min-width: 1158px) {
    .section-one-text {
        padding: 188px 0;
        
    }
}

.one-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;  
    color: #ffffff;
    text-align: center;
    max-width: 160px;
    margin: 0 auto;
    margin-bottom: 72px;
    
}

@media screen and (min-width: 768px) {
    .one-text-head {
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
       
    }

}

@media screen and (min-width: 1158px) {
    .one-text-head {
        margin-bottom: 48px;

    }
}

.button-class-one {
    background: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-class-one:hover,
.button-class-one:focus {
    background-color: #404BBF;
}



/* ============================HERO END=================================== */
/* ============================SECTION 2 START=================================== */

.ul-text {
    display: flex;
}


/* .sec-list-class {
    width: calc((100% - 72px) / 4);
} */

.block-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.block-list-icons {
    fill: #2E2F42;

}

.two-text-head {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 8px;

}

.two-p-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .ul-text {

        column-gap: 24px;

    }
    .sec-list-class {
        width: 356px;
    }


}

@media screen and (max-width: 767px) {
    .ul-text {
        flex-direction: column;
    }

    .sec-list-class {
        width: 288px;
    }
    .two-text-head {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1157px) {

    .block-list-link {
            display: none;
        }

    .two-text-head {
        font-size: 36px;
        font-weight: 700;
        margin-top: 0px;
    }

    .two-p-text {
        font-weight: 500;
        
    }

    .ul-text {
        row-gap: 72px;
        flex-wrap: wrap;
        


    }
}
/* ============================SECTION 2 END=================================== */
/* ============================SECTION 3 START=================================== */

.three-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

.three-section-list {
    display: flex;
    column-gap: 24px;
}

@media screen and (max-width: 767px) {
    .three-section-list {
        flex-direction: column;
        row-gap: 72px;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .three-section-list {
        row-gap: 64px;
    }
}

@media screen and (max-width: 1157px) {
    .three-section-list {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}


.li-section-three {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    /* max-width: 288px; */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.name-major {
    padding: 32px 0;
}

.three-team {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;

}

.three-job-title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

/* .social-list-item {
    width: 40px;
    height: 40px;

} */

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icons {
    fill: #f4f4fd;
    stroke: #f4f4fd;
}
/* ============================SECTION 3 END=================================== */
/* ============================SECTION 4 START=================================== */
.four-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02emem;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

.four-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    
}

@media screen and (max-width: 767px) {
    .four-ul {
        flex-wrap: nowrap;
        flex-direction: column;
        
        
    }
}

.four-list {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.four-cont-cadr {
    position: relative;
    overflow: hidden;
    
}



/* @media screen and (min-width: 768px) {
    .four-list {
        width: 356px;
       


    }
}
@media screen and (min-width: 1158px) {
    .four-list {
        width: 360px;
        


    }
} */


.overlays-card {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.four-list:hover .overlays-card {
    transform: translateY(0);
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-header {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.type-service {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ============================SECTION 4 END=================================== */
/* ============================FOOTER START=================================== */
.footer-section {
    background: #2E2F42;
    padding: 100px 0;
}

@media screen and (min-width: 768px) {
    .footer-main-cont {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-main-cont {
        align-items: baseline;
        column-gap: 0;
        flex-wrap: nowrap;
    }
    .footer-div-container {
        margin-right: 120px;
    }
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .footer-logo {
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .footer-logo {
        display: inline-block;
    }
}

.span-footer-logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-div {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .footer-div {
        margin-bottom: 72px;
        align-items: center;
    }
    .footer-text {
     margin-bottom: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-div {
        margin-right: 80px;
    }
} 

.footer-p-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .footer-p-text {
        text-align: left;
    }

    .footer-text {
        margin-bottom: 72px;
    }
}

.footer-social-list {
        display: flex;
        gap: 16px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31d0aa;
}

.social-list-icons {
    fill: #f4f4fd;
    stroke: #f4f4fd;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-main-cont {
        width: 584px;
    }
}

.footer-form-field-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;}

@media screen and (min-width: 768px) {
    .footer-form-field-text {
        text-align: left;
        }
}
    
@media screen and (min-width: 768px) {
    .footer-form {
        display: flex;
        gap: 24px;
    }
}

.footer-form-field-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 1);
}

.footer-form-field-input {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}

@media screen and (min-width: 768px) {
.footer-form-field-input {
    width: 264px;}
}

.footer-form-field-button {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

@media screen and (max-width: 767px) {
    .footer-form-field-button {
        margin: 0 auto;
    }

    .footer-form-field-label {
       display: flex;
       margin-bottom: 16px;
    }
}

.footer-button-send {
    margin-left: 16px;
}


/* ============================FOOTER4 END=================================== */
/* ============================BACKDROP START================================= */
.backdrob {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrob.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .model {
            width: 288px;
                min-height: 623px;
    padding: 72px 16px 24px 16px;
    }

}

.model-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    padding: 0px;
    line-height: 0;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-close-button:hover,
.model-close-button:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.model-close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-model {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;

}

.review-form-field {
    margin-bottom: 8px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-input-box {
    position: relative;
}

.review-form-field-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid hsla(237, 18%, 22%, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
}

.review-form-field-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
    outline-offset: 4px;
}

.review-form-field-icon {
    position: absolute;
    fill: #2E2F42;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.review-form-field-input:focus+.review-form-field-icon {
    fill: #4D5AE5;
}

.review-form-field-checkbox {
    margin-bottom: 24px;
}

.review-form-field-label-checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8e8f99;
}


.review-form-checkbox:checked+.review-form-field-label-checkbox .span-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.review-form-field-textarea {
    margin-bottom: 16px;
}

.review-form-field-messege {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(46, 47, 66, 0.4);
    left: 16px;
    top: 8px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-messege::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.review-form-field-messege:focus {
    border-color: #4D5AE5;
    outline: transparent;
    outline-offset: 4px;
}

.review-form-field-checkbox {
    margin-bottom: 24px;
}

.span-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-span-checkbox {
    /* background-color: #404BBF;
    fill: #FFFFFF; */
}

.privacy-police {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(77, 90, 229, 1);
}

.review-form-field-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
/* ==========================BACKDROP END============================== */
/* ==========================MOBILE MENU============================== */

@media screen and (max-width: 767px) {
    .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        width: 24px;
        height: 24px;
        color: #000000;
    }

    .mobile-menu-wrappen {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999990;
        width: 100%;
        height: 100%;
        background-color: #F4F4FD;
        transform: translateX(100%);
    }

    .mobile-menu-wrappen.is-open {
        transform: translateX(0%);
        transition: transform 250ms linear;
    }

    .mobile-menu-close-btn {
        position: absolute;
        top: 17px;
        right: 16px;
        background-color: transparent;
        width: 24px;
        height: 24px;
        border: 1px solid #E7E9FC;
        border-radius: 50%;
        padding: 0;
        line-height: 0;
    }

    .mobile-menu-container {
        position: relative;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 72px;
        margin-bottom: 168px;  
    }

    .mobile-menu-link {
        color: #2E2F42;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .mobile-address-text {
        margin-bottom: 48px;
    }

    .select-link {
        color: #404BBF;
    }
    .mobile-add-ref {
            font-style: normal;
            color: #4D5AE5;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-align: left;
    }

    .tel-line {
        color: #434455;
    }

    .mobile-address-li {
        display: flex;
        flex-direction: column;
        gap: 24px;
 
    }

    .mobile-social-list {
        display: flex;
        gap: 40px;
        justify-content: center;
        margin-top: 8px;
    }
 
    .mobile-social-list-link {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        padding: 12px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    .mobile-social-list-link:hover,
    .mobile-social-list-link:focus {
        background-color: #404bbf;
    }

    .mobile-social-list-icons {
        fill: #f4f4fd;
        stroke: #f4f4fd;
    }

}

@media screen and (min-width: 768px) {
    .mobile-menu-wrappen {
        display: none;
    }
}
/* ==========================MOBILE MENU============================== */

